h1{color:#5EF31E;font-family: Impact;font-size: 202px;text-align:center}

	body{background-color:#D1D9C2}

		p{color:#FFFFFF; font-family: Helvetica Neue: font-size:152px}

img:hover {filter:#9FE7EE alpha(opacity=60);
    opacity: .8;}

    img style{position: center;top: 35px;left: 170px; width: 50pc; height: 50px" src="environment.jpg"}

    <img src=”slyth.png” ALIGN=”left” HSPACE=”50” VSPACE=”50”/> 
