h1{color:#B45E4B;font-family: Impact;font-size: 202px}

	body{background-color: #D1D9C2}

		p{color:#FFFFFF; font-family: Helvetica Neue: font-size:152px}

img:hover {filter:#D3EACC alpha(opacity=60);
    opacity: .8;}

    img style{position: absolute;top: 35px;left: 170px; width: 50pc; height: 50px" src="forrest.jpg"}

    <img src=”slyth.jpg” ALIGN=”left” HSPACE=”50” VSPACE=”50”/> 
